body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.map {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.location-icon {
  font-size: 1.5rem;
  color: #f00;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.loader h1 {
  font-size: 2rem;
}
